<html>
    <head>
        <title>ABOUT</title>
    </head>
    <body>
        <div class="container col-9">
<hr>
<br>
<p>Jiso,</p>
<p>알&nbsp&nbsp知</p>
<p>바&nbsp&nbsp所 </p>
<br>
<br>
<p>.</p>
<p>.</p>
<p>.</p>
<div class="about-content">
<p>알바생들만 알고 있는 꿀팁을 공유하고 &nbsp;: &nbsp;팁게시판</p>
<p>알바생들만의 고충을 토로하고&nbsp; : &nbsp;알바생 게시판</p>
<p>일반 고객과 알바생들이 소통하고&nbsp; : &nbsp;자유 게시판</p> 
<p>자기 매장의 아이템 후기를 남길 수 있는&nbsp; : &nbsp;리뷰 게시판</p>
<br>
<p>지식이 모이는 곳&nbsp; : &nbsp;지소</p>

<br>
<hr>
</div>
        </div>
    </body>
</html>