<html>
    <head>
        <title>My post</title>
    </head>
    
    <body>
          <div class="container col-9">
            <!--마이페이지 내용-->
            <div class ="mypage-content">
                <h3>내가 작성한 팁 게시물 </h3>
                <hr>
                <br>
                <% @myposts.each do |p| %>
                    <ul>
                        <li>
                            <a href="/tipposts/show/<%=p.id%>"><%=p.category.name%> | <%=p.title%></a>
                        </li>
                    </ul>
                    <br>
                <%end%>
            </div>
        </div>
    </body>
</html>